* {
    font-family: 'Sahitya', serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: none;
    background-color: #D7B398;
}

.heading {
    text-align: left;
    margin-left: 15px;
    position: absolute;
    margin-top: -5vh;
    font-size: 10rem;
    color: #D7B398;
    font-weight: bolder;
    -webkit-text-stroke: 4px #1D1D1D;
}

.banner {
    width: 100%;
    height: 100vh;
    /* position: relative; */
    /* margin-top: -38.5vh; */
}

.navBarDiv {
    height: 85px;
    background-color: #1D1D1D;
    color: #FCFFEA;
    position: relative;
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-scroll {
    text-align: left;
    margin-left: 15px;
    position: absolute;
    font-size: 6rem;
    color: #D7B398;
    font-weight: bolder;
    -webkit-text-stroke: 4px #1D1D1D;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    gap: 34px;
    float: right;
    padding-right: 100px;
}

.navbar-items {
    font-size: 1.7em;
    padding-top: -15px;
    color: #D7B398;
}

.navbar-items:hover {
    font-size: 1.75em;
    cursor: pointer;
    text-decoration: underline;
}

.front-description {
    float: right;
    text-align: right;
    /* margin-right: 10px; */
    z-index: 11;
    width: 700px;
    height: 0px;
}

.front-description-txt {
    margin-top: 50vh;
    /* outline: 4px solid #D7B398; */
    position: relative;
    background-color: #1D1D1D;
    font-size: 4em;
    color: #D7B398;
    -webkit-text-stroke: 1px #1D1D1D;
    padding-right: 30px;
}

.buffetBanner {
    width: 100%;
    height: 100px;
    background-color: #1D1D1D;
    color: #D7B398;
    font-size: 3em;
    padding-top: 15px;
    text-align: center;
}

.buffetDiv {
    margin: auto;
    width: 90%;
}

.buffetDivHeading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15vh;
}

.Buffetsection1 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15vh;
}

.sectionimg1 {
    /* height: 25vh; */
    width: 50%;
    height: 50vh;
}

.sectionText1 {
    width: 45%;
    font-size: 1.9em;
    padding-top: 20px;
    font-weight: 500;
}

.Buffetsection2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
    gap: 10vh;
}

.sectionimg2 {
    /* height: 25vh; */
    width: 45%;
    height: 50vh;
}

.sectionText2 {
    width: 50%;
    font-size: 1.9em;
    padding-top: 20px;
    font-weight: 500;
}

.reservationLogoDiv {
    background-color: #1D1D1D;
    color: #D7B398;
    height: 150px;
}

.reservationHeading {
    text-align: center;
    font-size: 5em;
}

.reservationFormDiv {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}

.labels {
    font-size: 1.5em;
    font-weight: 400;
}

.inputs {
    height: 5vh;
    margin-bottom: 3vh;
    background-color: #FCFFEA;
    border: 1px solid #1D1D1D;
}

.reservation-submit {
    float: right;
    width: 12vh;
    border: none;
    background-color: transparent;
    font-size: 1.4em;
    text-decoration: underline;
}

.reservation-submit:hover {
    animation-name: btnHover;
    animation-duration: 1s;
    cursor: pointer;
}

@keyframes btnHover {
    0% {
        opacity: 0;
        margin-left: -20px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

.footerDiv {
    height: 30vh;
    background-color: #1D1D1D;
    color: #D7B398;
}

.footerText {
    padding-top: 3.7%;
    text-align: center;
    font-size: 4em;
}

.menuHeading {
    font-size: 6em;
    text-align: center;
    margin-top: 35vh;
    margin-bottom: 25vh;
    color: #1D1D1D;
    position: relative;
    text-decoration: underline;
}

.cardsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardsMain1 {
    background-image: url("../assets/food1.jpg");
}

.cardsMain2 {
    background-image: url("../assets/food2.jpg");
}

.cardsMain3 {
    background-image: url("../assets/food3.jpg");
}

.cardsMain4 {
    background-image: url("../assets/food5.jpg");
}

.cardsMain5 {
    background-image: url("../assets/food6.jpg");
}

.cardsMain6 {
    background-image: url("../assets/food6.jpg");
}

.cardsMain1,
.cardsMain2,
.cardsMain3,
.cardsMain4,
.cardsMain5,
.cardsMain6 {
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.cardsMain1:hover,
.cardsMain2:hover,
.cardsMain3:hover,
.cardsMain4:hover,
.cardsMain5:hover,
.cardsMain6:hover {
    /* background: transparent; */
    animation-name: card-animation;
    animation-duration: 2s;
    cursor: pointer;
}

@keyframes card-animation {
    0% {
        opacity: 0.8
    }
    100% {
        opacity: 1
    }
}

.cardsText {
    position: relative;
    text-align: center;
    font-size: 5em;
    margin-top: 20%;
    margin: auto;
    width: 50%;
    color: #D7B398;
    border: 4px solid #1D1D1D;
    top: 40%;
    background-color: #1D1D1D;
}

.aboutUsAvatar {
    margin-left: 37%;
    height: 50vh;
    margin-top: 30vh;
    border-radius: 50%;
}

.subText {
    text-align: center;
}

.aboutUsDescription {
    margin: auto;
    width: 90%;
    font-size: 1.3em;
}